<!-- book-list.component.html -->
<div class="bg-gray-300 p-4 rounded-lg shadow-md text-black">
  <h2 class="text-lg font-bold">Book List</h2>

  <!-- Search Input -->
  <input [(ngModel)]="searchQuery"
   placeholder="Searching for books..."
   class="p-2 mb-2 border border-gray-500 rounded"/>
  <button (click)="searchBooks()" class="p-2 bg-blue-500 text-white rounded">Search</button>

  <!-- Loading Indicator -->
  <div *ngIf="loading" class="text-blue-600 font-semibold mt-2">
    Searching for books, please wait...
  </div>

  <!-- Error Message -->
  <div *ngIf="errorMessage" class="text-red-600 font-semibold mt-2">
    {{ errorMessage }}
  </div>

   <!-- Searched Results -->
   <h3 class="mt-4">Searched Results</h3>
   <ul *ngIf="searchResults && searchResults.length > 0">
     <li *ngFor="let book of searchResults" class="mb-2">
      <strong>Title:</strong> {{ book.title }} <br>
      <strong>Author(s):</strong> {{ book.author_name }} <br>
      <strong>First Published:</strong> {{ book.first_publish_year }} <br>
      <strong>ISBN:</strong> {{ book.isbn }}
      <hr>
     </li>
  </ul>

  <!-- No Results Found -->
  <ul *ngIf="searchResults.length === 0 && searchQuery && !loading && !errorMessage">
    <li>No results found for "{{ searchQuery }}".</li>
  </ul>

  <!-- Local Books -->
  <h3>Your Books</h3>
  <ul>
    <li *ngFor="let book of books" class="mb-2">
      <h4>{{ book.title }} by {{ book.author }} ({{ book.genre }})</h4>
      <p>Published Year: {{ book.publishedYear || 'N/A' }} | ISBN: {{ book.isbn || 'N/A' }}</p>
    </li>
  </ul>
  <p *ngIf="books.length === 0">You have no added books.</p>
</div>
